body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left-pane {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 600px;
}

.gridContainer {
    display: grid;
    height: 600px;
    width: 600px;
    border: 1px solid #000;
    flex-shrink: 0;
}

.grid-item {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
}

.newColor {
    background-color: red;
}